.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .container__calendar{
    margin: 40px;
  }
  .button__event{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
  }
  .w100{
    width: 100% !important;
  }
  .left div{
    text-align: left;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }